@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 2rem;
}

.theme-panel {
  padding: 5px 0 5px 0;
}

.match {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  gap: 1rem;
}

.board {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
  position: relative;
  background: transparent;
}

.history-board {
  border: 0.25rem solid;
  width: 120px;
  height: 120px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1px;
  position: relative;
}

.square {
  border: none; 
  font-size: 5rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
}

.history-board .square {
  font-size: 0;
  cursor: default;  
}

.marker {
  background: lightgoldenrodyellow;
}

.occupied {
  pointer-events: none;
  cursor: pointer;
}

.X, .X:hover {
  color: #fd7e14;
}
.O, .O:hover {
  color: #198754;
}

.match-history {
  width: 500px;
  height: 600px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1px;
}

.match-history .move-text {
  padding: 0.35rem 0.45rem;
  border-radius: 0;
}

.match-status {
  display: block;
  background-color: transparent;
  border: none;
  padding: 1rem;
  padding-left: 0;
}

.cross:before {
  content: "";
  position: absolute; 
  outline: 1px solid red;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cross-048:before {
  left: 0;
  right: 0;
  bottom: 50%;
  transform: skewy(45deg);
}

.cross-246:before {
  top: 50%;
  left: 0;
  right: 0;
  transform: skewy(135deg);
}

.cross-345:before {
  left: 0;
  right: 0;
  bottom: 50%;
}

.cross-012:before {
  left: 0;
  right: 0;
  bottom: 84%;
}

.cross-678:before {
  left: 0;
  right: 0;
  bottom: 16%;
}

.cross-147:before {
  left: 50%;
  bottom: 0;
  top: 0;
}

.cross-036:before {
  left: 16%;
  bottom: 0;
  top: 0;
}

.cross-258:before {
  left: 84%;
  bottom: 0;
  top: 0;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

/* Profile Card */
.profile-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.profile-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.profile-card:hover .profile-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.profile-card-front, .profile-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.profile-card-front {
  background-color:#bbb;
  color: black;
}

/* Style the back side */
.profile-card-back {
  background-color: #2980b9c4;
  color: antiquewhite;
  transform: rotateY(180deg);
}

.profile-card-back .link-group {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profile-card-back .social-links {
  top: 15px;
  left: 15px;
}

.profile-card-back .contact-links {
  top: 15px;
  right: 15px;
  font-size: 13px;
}

.profile-card-back .contact-links .fa {
  color: black;
}

.profile-card-back .link-group a {
  padding: 5px;
  margin-bottom: 1px;
  background: antiquewhite;
  color: #3B5998;
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.profile-card-back a:hover {
  opacity: 0.7;
}

.profile-card-back .profile-title {
  position: absolute;
  left: 15px;
  bottom: 15px;
  right: 15px;
  height: 50px;
  background: antiquewhite no-repeat;
  color: black;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}

.profile-card-back .profile-info {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 65px;
  text-align: center;
  font-size: 20px;
}
