@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /*background-color: black;*/
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  margin: 2rem;
}

.match {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 1rem;
}

.board {
  border: 1rem solid #0dcaf0;
  background: #0dcaf0;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
  position: relative;
}

.history-board {
  border: 0.25rem solid #0dcaf0;
  background: #0dcaf0;
  width: 120px;
  height: 120px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1px;
  position: relative;
}

.square {
  background: aliceblue;
  border: none; 
  font-size: 5rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
}

.history-board .square {
  font-size: 1rem;
  cursor: default;  
}

.marker {
  background: lightgoldenrodyellow;
}

.occupied {
  background-color: antiquewhite;
  pointer-events: none;
  cursor: pointer;
}

.X, .X:hover {
  color: #fd7e14;
}
.O, .O:hover {
  color: #198754;
}

h3 {
  padding: 1rem;
}

.match-history ol {
  width: 500px;
  height: 600px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1px;
}

.match-history li {
  list-style: none;
  color: black;
}

.match-status {
  display: block;
  color: lightgoldenrodyellow;
  background-color: #0dcaf0;
  margin-bottom: 10px;
  padding: 1rem;
}

.match-status .status-text {
  line-height: 40px;
  text-align: right;
  width: 200px;
  height: 40px;
}

.match .start-new {  
  background: aliceblue;
  color: black;
  float: right;
}

.cross:before {
  content: "";
  position: absolute; 
  outline: 1px solid red;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cross-048:before {
  left: 0;
  right: 0;
  bottom: 50%;
  transform: skewy(45deg);
}

.cross-246:before {
  top: 50%;
  left: 0;
  right: 0;
  transform: skewy(135deg);
}

.cross-345:before {
  left: 0;
  right: 0;
  bottom: 50%;
}

.cross-012:before {
  left: 0;
  right: 0;
  bottom: 84%;
}

.cross-678:before {
  left: 0;
  right: 0;
  bottom: 16%;
}

.cross-147:before {
  left: 50%;
  bottom: 0;
  top: 0;
}

.cross-036:before {
  left: 16%;
  bottom: 0;
  top: 0;
}

.cross-258:before {
  left: 84%;
  bottom: 0;
  top: 0;
}

.ocean {
  background-color: #0dcaf0;
}

.stormy {
  background-color: #a0abad;
}